@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.moviePic {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    height: 100%;
    opacity: 100%;
}
.movie-name{
    margin-left: 10%;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

.movieDetail {
    font-family: "Poppins", sans-serif;
    margin: auto;
    width: 70%;
    text-align: justify;
    margin-top: 20px;
}
.casting{
    width: 60%;
    text-align: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
}
.span-css{
    font-size: 10px;
    font-style: italic;
}
.span-casting-css{
    font-size: 12px;
}